<ion-view view-title="Devotees">
  <ion-content class="padding" >
    <br />
    <h2>Revered Swami Guru Maa Geeteshwari Ji</h2>
    
    <article>
        <img src="img/Gurumaa-transparent.png" alt="Gurumaa" style="width:100%;height:100%;margin:0px auto;display:block">

        <br>
      <p><h5>Swami Guru Maa Geeteshwari ji as born in may 1949 to a traditional and religious Hindu
    family. Her family hails from Pune a city in the State of Maharashtra where She went on
    to complete Her primary Education. On Graduating from Saint Meera College in Pune, she
    took to working as a teacher in Saint Meera School for the next five years.</p>

    <p>She moved base after Her Marriage in 1971 to Monrovia, the Capital of Liberia situated in
    West Africa. Her husband was self employed and running his business during this time.
      </p>
    <p>
    In   the  year 1975,   by   the   grace   of   God,   She   encountered   the   opportunity   to   attend   a discourse being given by Swami Hari Har ji Maharaj in Liberia. This was the beginning of
    Her dedication and binding for Lord Krishna and a beginning to her journey in spiritualism.
    In   1977,   on   the   eve   of   Holy   Purnima   and   Guru   Maharaj’s  Birthday   she   keenly   took initiation under the guidance of Guru ji and became his formal disciple. Subsequently She
    became the Secretary of Geeta Ashram in Liberia for ten consecutive years and showed
    devotion to Guru ji, Bhagvad Geeta and Lord Krishna.</p>

    <p>In   wake   of   the   civil   war   that   started   in   Liberia   in   the   year  1990,   alike   other   Indian immigrants, Guru Maa returned to India with her husband and two children. After settling
    in India, She witnessed the most turbulent period in her life on the sudden demise of Her
    husband.   During   this   phase   of   grief   and   sorrow,   She   showed   immense   courage   and
    composure towards her duty to her family. She turned to Bhagvad Geeta in Her solitude
    and once again came in contact with Shri Guru Maharaj through engaging in religious
    activities.</p>

    <p>In March 2000, Guru Maharaj took salvation and attained Moksha. Since then Guru Maa
    pledged Her Life to Bhagvad Geeta by denouncing all worldly pleasures and has enhanced
    her knowledge on Vedas, Shastras, Upanishads and Astrology. She actively promotes the
    knowledge of Bhagvad Geeta across the globe.</p>

    <p>She has been  conferred the title  of  Guru  Maa, for  the extreme devotion  She  showed towards Her unconditional motherly Love for Guru Maharaj in the last twelve years of His Life. Under the direction and guidance of Guru Maharaj She adapted the Bhagvad Geeta by compassion and memorised every verse. She gained profound knowledge of the Geeta, its content and the message being conveyed through this Holy Book. Being an exponent of the Bhagvad  Geeta,   Guru  Maharaj   had  also   given  Her   the  title  of   “Geeta  Ratna”,   “Geeta Bhaskar” and “Geeteshwari”.</p>

    <p>In recent years, Guru Maa has been vigorously traveling and spreading the message of
    Geeta via the 600 Ashrams placed in different countries. She  has given up all worldly
    desires and material possessions to serve Her Guru and Lord Krishna by mind and Spirit.
    Her   priority   has   been   the   Geeta   Family   and   spreading   the   Message   of   Gopal.   Her
    proficiency has been highlighted in Her writings, “Amritvani” and “Gurudev’s exemplary
    experiences”.</p>

    <p>Her skill of using simple and understandable language in a result of Her learning under late
    Guru ji. Guru Maa has simplified all the eighteen Chapters of Geeta for mass interest as
    She holds the notion that simplicity produces easy assimilation of content and increases
    interest in learning. The objective of Bhagvad Geeta has been explicitly explained so that
    the  message reaches one and all.    Certain excerpts have been taken  from Guru Maa’s
    writings to provide an example of simple language. “Do all your tasks keeping in mind that
    you   are   serving   Gopal”   “Keep   doing   your   work   and   chanting   the   name   of   Gopal”
    “Reading,   chanting   and   memorising   Bhagvad   Geeta   unites   human   beings   with   God”
    “Whoever thinks of me, I free him of all worries” .</p></h5>

  </article>
  
  <br>
  <hr class="style18" width="80%">
  <br>
  <h3><b>Acharya Shri Jai Prakash Mishra Ji</b></h3><br>
  <article>
    <img src="img/Pujariji.jpg" alt="Pujariji" style="width:100%;height:100%;margin:0px auto;display:block">

    <br>
    <h5><p>Geeta Ashram Thailand is fortunate to have a revered saint whose name is ‘Acharya Shri Jai Prakash Mishra Ji’ (or "Pujari ji" as he is dearly referred to by his followers).  Coming from a very humble background, he has achieved marvelous knowlegde, understanding and insight of the underlying meanings of each and every verse in the ‘Song of God,' the Shrimad Bhagwat Geeta. Recognized and inducted by His Holiness Swami Hari Har Ji Maharaj, Acharya Shri Jai Prakash Ji has elevated himself to divinity and the state of blissfulness. He dwells in this world with ease and harmonizes his life in line with the teachings of the Shrimad Bhagwat Geeta.  He commands himself to the daily practices of Purity and Sheels (Devine laws), staying true to his sainthood.
      All regular activities related to all devotees are taken care by him with the support of the Geeta Ashram Managing Committee, as supervised by His Holiness Swami Hari Har Ji Maharaj.</p>
  </h5>

  </article>
  <br>

    <img src="img/rose_960_720.jpg" alt="rose" style="width: 40%; height: 20%;margin:0px auto;display:block">



    <br>
    <hr class="style18" width="80%">
    <footer>
      <h6>Copyright (C) 2016 www.geetaashramthailand.org. All rights reserved.</h6>
    </footer>

  </ion-content>
</ion-view>
