<ion-view view-title="Gurudev">
  <ion-content >
    <br />
    <h3><b>Life of Swami Hari Har Ji Maharaj</b></h3>
    <img src="img/guruji.jpg" alt="guruji" style="width:100%;height:100%;margin:0px auto;display:block">
    <br />
    <h4>The Early Years</h4>
    <br>
    <article style="width:100%;height:100%;margin:0px auto;display:block">
        <h5>
            The auspicious birth of our beloved Guruji Swami Hari Har Ji Maharaj
            took place on the full moon day, in the month of Phalgun in the year 1899.
            He was named as Sri Fateh Raj Ji Purohit. He was born to a family of
            respected Brahmins. His father Sri Jeth Mal Ji Purohit was an Honourable
            Judge of the court of the then Jodhpur state being ruled by His Highness
            Maharaj of Jodhpur state. Swamiji got his early education at Sri Sumer
            Pushtekar School, Jodhpur.
            <br />
            &nbsp;In the year 1928, His Holiness went to Karachi (Sindh), in undivided India
            along with his elder brother, Sri Damodhar Purohit Ji. There Swamiji
            initiated and founded a number of Institutions like, Pustak Bhandar,
            Marwari Vidyalaya, Gujarati Pracharak Mandal, Navyug Sewa Dal and
            Marwari Sabha of which he was appointed President. He worked mostly in
            Pali area of Marwar in Rajasthan.
            <br />
            &nbsp;He was also an expert in making carpets and had acquired complete
            knowledge of running a printing press. He was a real Karma Yogi
            following the principles as enshrined in the Bhagawad Geeta…
        </h5>
        <br>
        <h5 style="text-align: center;">
            <i>karmany evaa’dhikaaras te<br>
               maa phaleshu kadaacana<br>
               maa karmaphalahetur bhuur<br>
               maa te sango ’stv akarmani (Ch. 2, vs. 47)<br>
            </i>
        </h5>
        <br />
    
    <h4>Participation in India’s Freedom Struggle</h4>
        <h5>
            Swamiji Maharaj, was a very energetic young man. He was a prominent
            and active member of the Indian National Congress. He got a call from the
            revolutionary freedom fighter Netaji Subhas Chandra Bose to work
            actively for mother India’s freedom against British rule. He immediately
            gave up Pustak Bhandar shop in Karachi and left barefoot to join the
            freedom struggle. He followed the preaching of the Geeta..
        </h5>
  
        <h5 style="text-align: center;">
            <i>sukhaduhkhe same kritvaa<br>
               laabhaalaabhau jayaajayau<br>
               tato uddhaaya yujyasva<br>
               nai’vam paapam avaaapsyasi (Ch. 2 vs. 38)<br>
            </i>
        </h5>

        <h5>
            He was a staunch revolutionary and spent most of his youth underground
            facing many hardships. Several warrants were issued against him by the
            then British Government and he was kept under strict vigilance. He used
            to constantly keep Geetaji and a revolver by his side. During the
            underground period, he assumed a variety of disguises including Bhudev
            Shastri, Fateh Mohd, George Ferdes, Samt Fateh Singh, etc. When Swami
            Ji was arrested, he spent many years in British jails in India but he never
            gave up his struggle for freedom. Maharaj Ji worked in the company of
            eminent leaders like Mahatma Gandhi, Pandit Jawahar Lal Nehru, Khan
            Abdul Ghafar Khan, Pandit Madan Mohan, Sri Aurobhindo Ghosh,
            Shahedd Sardar Bhagat Singh, Sardar Ballav Bhai Patel, Dr. Rajendra
            Prasad, Dr. S. Radha Krishnan and many more.
            <br />
            Soon after India’s independence, its first Prime Minister Pandit Jawahar
            Lal Nehru invited Swamiji to join the Government of Independent India
            but His Holiness refused as by that time, He had become a Sannyasi and
            had already chosen the spiritual path of self realization.
        </h5>
        <br />
    
    <h4>Journey to Spiritual Enlightenment</h4>
        
        <h5>Maharaj Ji’s transformation from an active freedom fighter to a supreme
            Yogi is truly a change guided by the supreme will of God. Arjuna, in the
            battlefield of Kurukshetra was similarly directed by the Lord..
        </h5>
        
        <h5 style="text-align: center;">
            <i>tapasvibhyo ’dhiko yogi<br>
               jnaanibhyo ’pi mato ’dhikah<br>
               karmibhyash caa dhiko yogi<br>
               tasmaad yogi bhavaa ’rjuna (Ch. 6, vs. 46)<br>
            </i>
        </h5>

        <h5>
            The events which attracted him to Krishna is an episode related to his
            brother’s foot injury. All medical attention could not heal the wound of his
            brother. On hearing of a sage, a Holy Baba having miraculous yogic
            power, he carried his brother on his back, to him. The Baba observed
            complete silence and never spoke to anyone.
            <br />
            One day, a weeping woman brought her dead child and would not leave
            the Baba. After a long time, Baba hit the child with a stick and lo and
            behold, the child stood up in front of everyone.
            <br />
            Similarly, the Baba hit the leg of Swamiji’s brother and his brother started
            recovering. Maharaj Ji brought his brother home but himself did not enter
            the house.
            <br />

    <p>Swami Ji turned back and rushed to the village of Holy Baba. On reaching
    the village he went near the blessed sacred hut and prostrated himself
    before the Holy Baba. Swami Ji’s determination and faith were so strong
    that he gave up everything and started living as a Sannyasi in the village
    itself. Although he lived away from the Holy Baba’s hut, Swami Ji
    surrendered himself completely to the Holy Baba and served him day and
    night. After a month of testing time, he was accepted for initiation by the
    Holy Baba. Swami Ji got up early, took his bath, performed his
    meditation, changed his clothes and went straight to the Holy Baba’s hut
    with flowers and fruits in his hands as offerings. The Holy Baba gave him
    a divine smile and gave Swami Ji Guru Diksha. He also blessed Swami Ji
    with innumerable spiritual powers.</p></h5>

<br>
    <h3>Journey to Attainment of God</h3>

    <h5><p>After being blessed with the guiding light and power from the Holy Baba,
    Swami Ji with full of faith and devotion, started his journey, his sadhana
    to attain Lord Sri Krishna. For this sadhya, he was instilled with faith in
    the truth of the verse found in the Geeta…</p></h5>

    <h5 style="text-align: center;"><i>sattvaanuruupaa sarvasya<br>
     shraddhaa bhavati bhaarata<br>
    shraddhaamayo ’yam purusho<br>
     yo yacchraddhah sa eva sah (Ch. 17, vs. 3)<br></i></h5>

    <h5><p>Maharaj Ji did Tapasya – intense meditation and severe penance for
    twenty years in the hills of Rajasthan. As a Maha Yogi, he rebelled against
    the “tyranny of the flesh, the myopia of the mind and the pride of the ego”.
    His jeweled sayings radiate the light and joy of a Siddha (illumined soul).
    He was one who has shown the way to control the senses. For the last 70
    years of his life, he refrained from taking cereals, salt and water.
    Occasionally did he take some milk and boiled vegetables.</p>

    <p>He was ultimately graced by the vision of Lord Sri Krishna. Maharaj Ji
    requested the Lord for the benevolence of the vision of Sri Radha Ji along
    with the Lord. They blessed Shree Gurudev Maharaj Ji.</p>

    <p>aharaj Ji then appeared at Mathura, the birth place of Lord Sri Krishna.
    He then carried out the Lord’s wishes by giving the jnana form of Lord Sri
    Krishna, the Bhagavad Gita a home and thus, the first Gita Ashram came
    into existence.</p>

    <p>It is well known that Maharaj Shree had the vision of the past, present as
    well as the future. He had divine powers which included giving eyesight to
    the blind, curing his devotees of grave diseases. He also had the power of
    granting boons and material wealth which was a very small thing for him.
    His sole aim was to propagate the Supreme source of all bliss, the
    Bhagavad Geeta to anyone who desired to attain liberation. To this cause
    he devoted the rest of his life and was instrumental in the building of many
    Geeta Ashrams all over the world. The administrative office of Geeta
    Ashram was set up in New Delhi. Its foundation stone was laid by Dr. S.
    Radhakrishnan, former President of India. It now functions as the
    Headquarters of International Federation of Geeta Ashrams – formed in
    1974. Under its auspices, national seminars and international conferences
    are held from time to time in various countries.</p>

    <p>It is difficult to find adequate words to sing the glories of this Great
    Master described as “one of the greatest Tapasavis of the present era” by
    H.H. Jagad Guru Shankaracharyaji. He is the Geeta incarnated. He is
    Ramanujacharya in devotion to Lord Krishna and He is Vallabhacharya in
    His Bhakti (devotion) to the Lord. He was always touring the world (even
    at the age of 100) to dispel darkness and gloom and to weave humanity in
    the bond of universal brotherhood and peace based on the teachings of the
    Geeta. Like the Sun, Revered Gurudev illumined all. His love
    encompassed all rich and poor, male and female, young and old
    irrespective of man-made boundaries.</p>

    <p>The Geeta Dham near Jodhpur is His vision of spirituality in the midst of
    activities while being in harmony with the environment. This should be
    the goal of every person.</p>

    <p>Swamiji left his physical body on 30th March 2000 at New Delhi, at the
    age of one hundred and one years. In our hearts and minds, we know that
    He is with us all the time. He is regulating our good activities while
    spreading the universal teachings of the Geeta.</p></h5>

    <h5 style="text-align: center;"><i>Guru Brahma, Guru Vishnu<br>
     Guru Devo Maheshwarah<br>
    Guru Sakshaat Param Brahma<br>
     Tasmai Sri Guruve Namah<br></i></h5>

     <br>
       <img src="img/rose_960_720.jpg" alt="rose" style="width: 40%; height: 20%;margin:0px auto;display:block">

</h5>
<h6 style="text-align: center;"><b>(Article courtesy www.geetamalaysia.org/PDF/HariHarji.pdf)</b></h6>


<br>
  <hr class="style18" width="80%">
  <footer>
  <h6>Copyright (C) 2016 www.geetaashramthailand.org. All rights reserved.</h6>
</footer>
  </ion-content>
</ion-view>
