<ion-view view-title="Mission">
  <ion-content >
  	<br />
    <h2>Our Guiding Light</h2>
	<article>
		<img src="img/maharajji.jpg" alt="maharajji" style="width:100%;height:100%;margin:0px auto;display:block">
	    <br>
	  <h5 style="text-align: center;">With
		His Holiness Swami Hari Har ji Maharaj as their guiding light, more than 400
		Geeta Ashrams have been established all over the world.&nbsp; These
		Ashrams are not merely structures of bricks and mortar, nor are they
		simply meeting places for individual societies.&nbsp; The Geeta
		Ashram
		is an international spiritual movement which aims to build a new
		society - a universal brotherhood for the good of all
		mankind.&nbsp; It
		is His Holiness's hope that from within the walls of the Geeta Ashram,
		a message will pour forth which will spur human beings to work towards
		the establishment of a lasting world peace.&nbsp; It is His
		Holiness's
		wish that human beings would become more understanding towards one
		another by acquiring the knowledge of mankind's spiritual evolution.
	</h5>

	</article>
<br>
  <h2>Our Mission</h2>

  <div id="section2">

  <img src="img/dew.png" alt="Dew" style="width:35px;height:35px;margin:0px auto;display:block">
  <h5>Provide a place of worship to expound the philosophies of the Srimad Bhagwad Geeta and exchange of other spiritual philosophy.</h5>
  <br>
  <img src="img/dew.png" alt="Dew" style="width:35px;height:35px;margin:0px auto;display:block">
  <h5>Promote the Srimad Bhagwat Geeta, its teachings, universal principles on positive action, Selfless work, Knowledge, and Devotion.</h5>
  <br>
  <img src="img/dew.png" alt="Dew" style="width:35px;height:35px;margin:0px auto;display:block">
  <h5>Provide a quiet, spiritual place to connect Body, Mind, Soul through Seminars, Power of Guru, Geeta, and Gopal.  To be there in good and tough times, find love and peace within you.</h5>
  <br>
  <img src="img/dew.png" alt="Dew" style="width:35px;height:35px;margin:0px auto;display:block">
  <h5>Promote cultural activities regardless of color, creed, race, or religion.</h5>
  <br>
  <img src="img/dew.png" alt="Dew" style="width:35px;height:35px;margin:0px auto;display:block">
  <h5>Connect and involve younger generation through education.</h5>
  <br>
  <img src="img/dew.png" alt="Dew" style="width:35px;height:35px;margin:0px auto;display:block">
  <h5>Establish and teach scientific ways for Yoga and Meditaion and conduct workshops.</h5>

  </div>
  <br>
  <img src="img/rose_960_720.jpg" alt="rose" style="width: 40%; height: 20%;margin:0px auto;display:block">



<br>
  <hr class="style18" width="80%">
  <footer>
  <h6>Copyright (C) 2016 www.geetaashramthailand.org. All rights reserved.</h6>
</footer>
  </ion-content>
</ion-view>
